<%#
#  Copyright 2009 Swansea University.
# 
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  under the License.
%>

<h3>Help for the Project Selection Creation and Editing Tools</h3>

<p>On the <em>new project selection</em> and <em>edit project selection pages</em>
you will find a list of projects that are suitable for the
<strong><%= @student.discipline.long_name %></strong> discipline.</p>

<p>You should use these pages to identify a "shortlist" of selections: simply
check the checkboxes of all the
  projects that interest you and then click "Submit shortlist" (new) or "Update shortlist" (edit)
  when you are done. You should
  select at least five projects (there is no upper limit) but you should choose no more than
  two projects from the same supervisor (although this version of <%= proman %> does not check this).
  You can click on the project number to see the details of any project: the back link should return to the same
point in the list.</p>
<p>If you are interested in a project from the full list that is not available on your list
of selectable project,
  you should first check that you have been assigned to the correct discipline (contact me if you are not).
  If the project has been assigned to a different discipline, but you think that you could tackle it, you should
  contact the supervisor by email and ask him either to verify that it would be suitable for you. After that
  you (or the supervisor) can contact me and I'll ammend the assigned discipline record. Of course any
project that you have assigned to your discipline would also be available to other students too!</p>

