<%# Copyright 2009 Swansea University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% title "Manage students" %>

<%= render(:partial=>"admin/navigation") %>


<% content_for :head do %>
  <%= render(:partial => "shared/import_tablesorter") %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#students")
      .tablesorter({sortList: [[3, 0],[1, 0]], widthFixed: true, widgets: ['zebra']});
      //.tablesorterPager({container: $("#pager"), positionFixed: false});
    });
  </script>
<% end %>
<p>
<%= link_to 'New student', new_admin_student_path %>
</p>
<table id="students" class="tablesorter">
  <thead>
    <tr><th title="Click to sort by student number: click again to reverse sort direction.">Number</th>
    <th title="Click to sort by student name: click again to reverse sort direction.">Name</th>
    <th title="Click to sort by discipline: click again to reverse sort direction.">Discipline</th>
    <th title="Click to sort by grade: click again to reverse sort direction.">Grade</th>
    <th class="{sorter: false}">Show</th><th class="{sorter: false}">Edit</th><th class="{sorter: false}">Delete</th></tr>
  </thead>
  <tfoot><tr><th>User id</th><th>Name</th><th>Discipline</th><th>Grade</th><th>Show</th><th>Edit</th><th>Delete</th></tr></tfoot>
  <tbody>
    <%= render(:partial => "student_index", :collection => @students) %>
  </tbody>
</table>
<%#= render(:partial => "shared/tablesorter_pager", :locals => { :pager_id => 'pager' })%>
