<% title "Proman administration" %>

Stuff that you can do from here.

<h2>Bulk uploaders</h2>
<ul>
	<li>
		<%= link_to "Upload staff details", 'admin/bulk_uploader/import_staff' %>
	</li>
</ul>

<h2>Management tools</h2>
<ul>
	<li>
		<%= link_to "Manage users", admin_users_path %>
    </li>
</ul>