<%# Copyright 2009 Swansea University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
%>

<% title "Bulk upload student data" %>

<% headline "Upload student registration data" %>

<p><%= render(:partial=>"admin/navigation") %></p>

<% slogan "An apple a day keeps the Doctor away!" %>

<% form_for :import_students,
            :url=>{:controller=>"admin/setup",
            :action=>"csv_import_students"},
            :html => { :multipart => true } do |f| -%>
 <table>
   <tr>
     <td>
      <label for="students_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :students_file -%>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' -%> <%=  link_to "Back", admin_setup_path %>
     </td>
   </tr>
 </table>
<% end -%>