<%# Copyright 2009 Swansea University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
%>


<% title "Setup tools" %>

<% headline "Setting up Proman" %>

<p><%= render(:partial=>"admin/navigation") %></p>

<% slogan "An apple a day keeps the Doctor away!" %>

<h3>Bulk uploaders</h3>
<ul>
	<li>
		<%= link_to "Upload staff details", import_staff_path %>
	</li>
	<li>
		<%= link_to "Upload student details", import_students_path %>
	</li>
    <li>
		<%= link_to "Upload project details", import_projects_path %>
	</li>
</ul>