<!-- Site Navigation -->
<p id="layoutdims">Put some other stuff here: 
	<a href="/controller/action">Other page 1</a> | 
	<a href="/controller/action">Other page 2</a> | 
	<strong>This Page</strong></p>