<div id="<%= pager_id %>" class="pager">
  <form>
    <img src="/icons/first.png" class="first"/>
    <img src="/icons/prev.png" class="prev"/>
    <input type="text" class="pagedisplay"/>
    <img src="/icons/next.png" class="next"/>
    <img src="/icons/last.png" class="last"/>
    <select class="pagesize">
      <option selected="selected"  value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option  value="40">40</option>
    </select>
  </form>
</div>