<!-- Navigation Panel (default tabs) -->
<ul>
	<li><a href="/">&nbsp; <span>Home</span></a><li>
	<li><a href="/admin">Administer <span>ProMan</span></a></li>
	<li><a href="/coordinate">Coordinate <span>Projects</sman></a></li>
	<li><a href="/projects" class="active">View <span>Projects</span></a></li>
	<li><a href="/my_projects" >My <span>Projects</span></a></li>

	<li><a href="/select">Select <span>Projects</span></a></li>

</ul>