
<%= link_to "View all",                {:action => 'index'} %> |
<%= link_to "View by discipline",      {:action => 'by_discipline'} %> |
<%= link_to "View by supervisor",      {:action => 'by_supervisor'} %> |
<%= link_to "View by research centre", {:action => 'by_centre'} %>
