<%# Copyright 2009 Swansea University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
%>

<% title "Projects by Supervisor" %>
<p><%= render(:partial => "navigation") %></p>

<%
 curr_staff = '';
%>
<p>
<% if @projects.blank? %>
    <p>no projects to display</p>
<%else%>
  <ul id="projects">
    <% @projects.each do |is| %>
        <%
          if curr_staff == ''
            curr_staff = is.last_name
        %>
      <p><u><%= 'Projects by ' + is.last_name %><br></u></p>
        <%
          else
            if curr_staff != is.last_name
        %>
        <p><u><%= 'Projects by ' + is.last_name %><br></u></p>
        <%
              curr_staff = is.last_name
            end
          end
        %>
      <li>

        <%= link_to is.title,
          {:action => 'show', :id => is.id} -%>
      </li>
      <%end%>
  </ul>
<%end%>