<% title "Bulk upload staff data" %>

<% form_for :import_staff, 
            :url=>{:controller=>"admin/bulk_uploader", 
            :action=>"csv_import_staff"}, 
            :html => { :multipart => true } do |f| -%>
 <table>
   <tr>
     <td>
      <label for="staff_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :staff_file -%>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' -%>
     </td>
   </tr>
 </table>
<% end -%>